body {
    margin: 0;
    box-sizing: border-box;
}

#mouse-postion {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: black 5px;
    z-index: 1;
}

#box-bounds {
    position: absolute;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    /* border box does not include margin so mouseenter and mouseleave
        checks  only work on the box's width and height
        maybe adding a border will trigger the checks?*/
    margin: 25px;
    top: 0;
    left: 0;
}

#runaway-box {
    position: relative;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-color: blue;
    /* top: 0;
    left: 0; */

    /* style element content */
    color: white;
    font-size: 10px;
    text-align: center;
    z-index: auto;
}


