body {
    margin: 0;
    box-sizing: border-box;
}

#mouse-postion {
    position: absolute;
    width: fit-content;
    height: fit-content;
    border: black 5px;
    z-index: 1;
}

#box-bounds {
    position: absolute;
    /* causes the border to be inside the box*/ 
    /* box-sizing: border-box; */
    height: 50px;
    width: 50px;
    border: 25px;

    /* temporary styling */
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.075);

    /* mouseenter and mouseleave only trigger on the border 
    and inwards (padding, content) */
    /* margin: 25px; */
    top: 0;
    left: 0;
}

#runaway-box {
    position: relative;
    box-sizing: border-box;
    height: 50px;
    width: 50px;
    background-color: blue;
    /* top: 0;
    left: 0; */

    /* style element content */
    color: white;
    font-size: 10px;
    text-align: center;
    z-index: auto;
}


